<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AstroCrallwerMapper">
    <select id="connectionTest" resultType="map">
      select 1;
    </select>

    <select id="createTable" resultType="int">
CREATE TABLE if not exists astro_crallwer.rule_meta
(
    rule_name          VARCHAR(45)    NOT NULL    ,
    rule_reg_datetime  DATETIME       NULL        ,
    PRIMARY KEY (rule_name)
);

CREATE TABLE if not exists astro_crallwer.api_info
(
    rule_name        VARCHAR(45)     NOT NULL    ,
    api_url          VARCHAR(500)    NULL        ,
    api_parameters   VARCHAR(500)    NULL        ,
    api_has_date     TINYINT         NULL        ,
    api_date_offset  INT             NULL        ,
    foreign key (rule_name) references astro_crallwer.rule_meta (rule_name) on update cascade on delete cascade
);
    </select>

    <select id="dropTable" resultType="int">
        drop table if exists astro_crallwer.api_info,astro_crallwer.rule_meta;
    </select>

    <select id="insertInitialTable" resultType="int">
        insert into astro_crallwer.rule_meta values ('api_weather', #{regDatetime});
        insert into astro_crallwer.api_info values ('api_weather', 'http://www.kma.go.kr/wid/queryDFSRSS.jsp?zone=%s', '1144071000', 0, null );
    </select>

    <select id="deleteInitialTable" resultType="int">
        delete from astro_crallwer.api_info;
        delete from astro_crallwer.rule_meta;
    </select>

    <select id="insertRuleMeta" resultType="int">
        insert into astro_crallwer.rule_meta values (#{ruleName}, #{regDatetime});
    </select>

    <select id="insertApiInfo" resultType="int">
        insert into astro_crallwer.api_info values (#{ruleName}, #{apiUrl}, #{apiParameters}, #{apiHasDate}, #{apiDateOffset});
    </select>

    <select id="deleteTableData" parameterType="hashmap" resultType="int">
        delete from ${tableName};
    </select>

    <select id="selectRuleMeta" resultType="astro.api.collector.domain.AstroRuleMetaDomain">
        select * from astro_crallwer.rule_meta;
    </select>

    <select id="selectApiInfo" resultType="astro.api.collector.domain.AstroApiInfoDomain">
        select * from astro_crallwer.api_info;
    </select>
</mapper>
